<!--  ==========  -->
<!--  = Breadcrumbs =  -->
<!--  ==========  -->
<div class="darker-stripe">
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb">
            <li>
              <a routerLink="">وبمارکت</a>
            </li>
            <li><span class="icon-chevron-right"></span></li>
            <li>
              <a>ثبت ناما</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="push-up top-equal blocks-spacer-last">
      <div class="row">
  
        <div class="span12">
          <div class="title-area">
            <h1 class="inline">ثبت نام</h1>
          </div>
        </div>
        <section class="span8 single single-page">
  
          <hr/>
          <section class="contact-form-container">
  
            <h3 class="push-down-25">ثبت نام</h3>
  
            <form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()" class="form form-inline form-contact">
              <p class="push-down-20">
                <label>نام<span class="red-clr bold">*</span></label>
                <input type="text" tabindex="1" formControlName="firstName">
              </p>
  
              <p class="push-down-20">
                <label>نام خانوادگی<span class="red-clr bold">*</span></label>
                <input type="text" tabindex="2" formControlName="lastName">
              </p>
  
              <p class="push-down-20">
                <label>ایمیل<span class="red-clr bold">*</span></label>
                <input type="email" tabindex="3" formControlName="email">
              </p>
  
              <p class="push-down-20">
                <label>کلمه عبور<span class="red-clr bold">*</span></label>
                <input type="password" tabindex="4" formControlName="password">
              </p>
  
              <p class="push-down-20">
                <label>تکرار کلمه عبور<span class="red-clr bold">*</span></label>
                <input type="password" tabindex="5" formControlName="confirmPassword">
              </p>
  
              <p class="push-down-20">
                <label>آدرس<span class="red-clr bold">*</span></label>
                <input type="text" tabindex="6" formControlName="address">
              </p>
              <p>
                <button class="btn btn-primary bold" type="submit" tabindex="7" id="submit">ثبت نام</button>
              </p>
            </form>
          </section>
          <hr/>
        </section>
  
      </div>
    </div>
  </div>
  
  